[user]
	email = harrydparkes@proton.me
	name = Harry Parkes

[init]
	defaultBranch = master

[core]
	autocrlf = input
	editor = nvim
  pager = delta

[credential]
	helper = cache

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true    # use n and N to move between diff sections
  features = decorations

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[push]
	autoSetupRemote = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
