[user]
	email = harrydparkes@proton.me
	name = Harry Parkes

[init]
	defaultBranch = master

[core]
	autocrlf = input
	editor = nvim
  pager = delta

[credential]
	helper = cache

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true    # use n and N to move between diff sections
  features = decorations

  minus-style                   = syntax "#3a273a"
  minus-non-emph-style          = syntax "#3a273a"
  minus-emph-style              = syntax "#6b2e43"
  minus-empty-line-marker-style = syntax "#3a273a"
  line-numbers-minus-style      = "#e26a75"
  plus-style                    = syntax "#273849"
  plus-non-emph-style           = syntax "#273849"
  plus-emph-style               = syntax "#305f6f"
  plus-empty-line-marker-style  = syntax "#273849"
  line-numbers-plus-style       = "#b8db87"
  line-numbers-zero-style       = "#3b4261"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[push]
	autoSetupRemote = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
